In [ ]:
x = 'salt'

if x>1:
    print("Greater")
elif x<1:
    print("Smaller")
elif x==1:
    print("Equal")
else:
    print("Invalid")

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
'''
def thing():
  print('New Func')
  print('Func Executed')

thing()
print('Pause')
thing()
print('Exit')

'''
big = max('Helloz world')
print('Big is',big)

tiny = min('aHello world')
print('Small is',tiny)

Big is z
Small is

In [ ]:
for i in [1,2,3,4,5]:
  print(i)
print('Exit Loop')


friends = ['Jimmy','Creta','Virtus']

for friends in friends:
  print("Hello",cars)
print('exit this loop')

1
2
3
4
5
Exit Loop
Hello Virtus
Hello Virtus
Hello Virtus
exit this loop

#***Finding smallest and largest number from multiple inputs and terminating at done as input***

In [ ]:
#finding smallest and largest number from multiple inputs and terminating at done as input

largest = None
smallest = None

while True:
    user_input = input("Enter an integer number or 'done' to finish: ")

    if user_input.lower() == 'done':
        break

    try:
        num = int(user_input)
        if largest is None or num > largest:
            largest = num
        if smallest is None or num < smallest:
            smallest = num
    except ValueError:
        print("Invalid input")

if largest is not None and smallest is not None:
    print("Maximum is", largest)
    print("Minimum is", smallest)
else:
    print("No valid numbers entered.")

# **Searching through a File**

In [ ]:
fhand = open('mbox.txt')
for line in fhand:
  if line.startswith('From:'):
    print(line)

From: stephen.marquard@uct.ac.za

From: louis@media.berkeley.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: zqian@umich.edu

From: rjlowe@iupui.edu

From: cwen@iupui.edu

From: cwen@iupui.edu

From: gsilver@umich.edu

From: gsilver@umich.edu

From: zqian@umich.edu

In [ ]:
#used rstrip to remove whitespaces
fhand = open('mbox.txt')
for line in fhand:
  if line.startswith('From:'):
    print(line.rstrip())

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu

In [ ]:
#Another way of doing the same thing but in different way:

fhand = open('mbox.txt')
for line in fhand:
  if not line.startswith('From:'):
    continue
  print(line.rstrip())

From: stephen.marquard@uct.ac.za
From: louis@media.berkeley.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: zqian@umich.edu
From: rjlowe@iupui.edu
From: cwen@iupui.edu
From: cwen@iupui.edu
From: gsilver@umich.edu
From: gsilver@umich.edu
From: zqian@umich.edu

#**Promt for file name**

In [ ]:
fname = input('Enter File name: ')
fhand = open(fname)
count = 0
for line in fhand:
  if line.startswith('Subject:'):
    count = count + 1
print('There were',count,'Subject lines in the file')

Enter File name: mbox.txt
There were 11 Subject lines in the file

#**Graded Assignment**

In [ ]:
'''7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:
X-DSPAM-Confidence:    0.8475
Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.

   Grade updated on server.

'''
1
# Use the file name mbox-short.txt as the file name
2
fname = input("Enter file name: ")
3
count = 0
4
float_value = 0
5
fh = open(fname)
6
for line in fh:
7
    if not line.startswith("X-DSPAM-Confidence:"):
8
        continue
9
    atpos = line.find(':')
10
    float_value = float_value+float(line[atpos+1:])
11
    count = count+1
12

13

14
print("Average spam confidence:",float_value/count)

In [ ]:
numlist = list()
while True:
  inp = input("Enter a number: ")
  if inp.lower() == 'done':
    break
  value = float(inp)
  numlist.append(value)
Average = sum(numlist)/len(numlist)
print('Average is :',Average)

Enter a number: done

ZeroDivisionError: division by zero

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'
print(fruit[0])

B

In [ ]:
a = "Bhagat"
b = 100
c = a + str(b)		# Concatinate string with number
print (a, " + ", b, " --> ", c)

Bhagat  +  100  -->  Bhagat100

In [ ]:
dt = dict()
dt['Pranav']=24
dt['888']=32
dt[1023]=39
dt['Pranav']=48
print(dt)

{'Pranav': 48, '888': 32, 1023: 39}

#**Print prime numbers**

In [ ]:

for num in range(100,200):
  if all(num%i != 0 for i in range(2,num)):
    print(num,"")

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
# Python3 program to display Prime numbers till N

#function to check if a given number is prime
def isPrime(n):
#since 0 and 1 is not prime return false.
	if(n==1 or n==0): return False

#Run a loop from 2 to n-1
	for i in range(2,n):
	#if the number is divisible by i, then n is not a prime number.
		if(n%i==0):
			return False

#otherwise, n is prime number.
	return True



# Driver code
N = 100;
#check for every number from 1 to N
for i in range(1,N+1):
#check if current number is prime
	if(isPrime(i)):
		print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

#Sorting in List

In [ ]:
List = [12,34,544,223,12,33,2,1,5,7,9,76,4,87,43,12,6,34]
List.sort()
print(List)

[1, 2, 4, 5, 6, 7, 9, 12, 12, 12, 33, 34, 34, 43, 76, 87, 223, 544]

#Fibonacci Series

In [ ]:
def fibo(n):
  if n<0:
    print('Invalid number')
  elif n==0:
    return 0
  elif n==1 or n==2:
    return 1
  else:
    return fibo(n-1)+fibo(n-2)

for i in range(10):
  print(fibo(i))

0
1
1
2
3
5
8
13
21
34

#Return reversed list

In [ ]:
def rev(list):
  return list[::-1]

list = [44,2,5,66,7,23,11,32,45,76]
print(rev(list))

[76, 45, 32, 11, 23, 7, 66, 5, 2, 44]

#Palindrome string

In [ ]:
string = 'naman'

new = string[::-1]
print(new)

if string == new:
  print("palin")
else:
  print("nope")

naman
palin

#Duplicate values in array

In [ ]:
#Method 1
lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9,10,44,11,12,13,44]
unique = []
dupli = []
for item in lis:
  if item not in unique:
    unique.append(item)
  elif item not in dupli:
    dupli.append(item)
print(dupli)

[1, 2, 5, 9, 44]

In [ ]:
#Using Counter from ollections

from collections import Counter

list = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(list)

newlist = []

for item in d:
  if d[item]>1:
      newlist.append(item)

print(newlist)

[1, 2, 5, 9]

#Print no. of words in sentence

In [ ]:
string = "Hello I am Fine Thank You"

list = string.split()
print(list)
print(len(list))

['Hello', 'I', 'am', 'Fine', 'Thank', 'You']
6

#Remove reoccuring char from a string

In [ ]:


def removerepeat(string):
  seenchar = set()
  output = ""
  for char in string:
    if char not in seenchar:
      seenchar.add(char)
      output += char
  return output


removerepeat("124dkfoeeeosllllskaaaldll111222")

'124dkfoesla'

In [ ]:
test_string = "There are 22 apples for 4 persons"

# printing original string
print("The original string : " + test_string)

# using List comprehension + isdigit() +split()
# getting numbers from string
res = [int(i) for i in test_string.split() if i.isdigit()]

# print result
print("The numbers list is :" + str(res))

The original string : There are 22 apples for 4 persons
The numbers list is :[22, 4]

#**Dictionaries**

In [7]:
counts = dict()
names = ['aman','reyan','aman','tannu','tannu','riya','riya']

for name in names:
  if name not in counts:
    counts[name]=1
  else:
     counts[name]+=1

print(counts)

{'aman': 2, 'reyan': 1, 'tannu': 2, 'riya': 2}

In [8]:
#Using get method
counts = dict()
names = ['aman','reyan','aman','tannu','tannu','riya','riya']

for name in names:
  counts[name] = counts.get(name,0)+1

print(counts)

{'aman': 2, 'reyan': 1, 'tannu': 2, 'riya': 2}

#Looping in Dictionaries

In [13]:
counts = dict()
names = ['aman','reyan','aman','tannu','tannu','riya','riya','Ramnaman','Aryaman']

for name in names:
  counts[name] = counts.get(name,0)+1

for key in counts:
  print(key,counts[key])

aman 2
reyan 1
tannu 2
riya 2
Ramnaman 1
Aryaman 1

In [14]:
print("Dictionary counts is ",counts)

print("Using print(list(counts)) ",list(counts))
print("Using print(list(counts.keys())) ",list(counts.keys()))
print("Using print(list(counts.values())) ",list(counts.values()))
print("Using print(list(counts.items())) ",list(counts.items()))

Dictionary counts is  {'aman': 2, 'reyan': 1, 'tannu': 2, 'riya': 2, 'Ramnaman': 1, 'Aryaman': 1}
Using print(list(counts))  ['aman', 'reyan', 'tannu', 'riya', 'Ramnaman', 'Aryaman']
Using print(list(counts.keys()))  ['aman', 'reyan', 'tannu', 'riya', 'Ramnaman', 'Aryaman']
Using print(list(counts.values()))  [2, 1, 2, 2, 1, 1]
Using print(list(counts.items()))  [('aman', 2), ('reyan', 1), ('tannu', 2), ('riya', 2), ('Ramnaman', 1), ('Aryaman', 1)]

#Two-Iteration **Variables**

In [23]:
listofkeys = []

for aaa,bbb in counts.items():
  if bbb >=2:
    print(aaa)

  listofkeys.append(aaa.lower())

print("All keys of dict are ",listofkeys[::-1])

aman
tannu
riya
All keys of dict are  ['aryaman', 'ramnaman', 'riya', 'tannu', 'reyan', 'aman']

#Finding count of the most occuring word in a file

In [31]:
file = input("Enter File Name: ")
fhand1 = open(file)
filecounts = {}
for line in fhand1:
  words = line.split()
  for eachword in words:
    filecounts[eachword]=filecounts.get(eachword,0)+1

maxcount = None
max_occ = None

for word,count in filecounts.items():
  if maxcount is None or count>max_occ:
    maxcount = word
    max_occ = count

print(maxcount,max_occ)

Enter File Name: mbox.txt
Jan 142

#**Tuple**

#10 most Common Words

In [4]:
filename = input('Enter file name: ')
filehand = open(filename)

counts = dict()
for lines in filehand:
  words = lines.split()
  for word in words:
    counts[word] = counts.get(word,0)+1

newlist = []
for k,v in counts.items():
  newtuple = (v,k)
  newlist.append(newtuple)

newlist = sorted(newlist,reverse=True) #Here reverse=True is used as we need top 10 most occuring words

for val,key in newlist[:10]:
  print(key,val)

Enter file name: test.txt
the 47
to 43
a 29
random 23
Random 22
paragraph 16
Generator 16
of 15
in 15
is 14

Q. Write a program to read through the mbox-short.txt and figure out the distribution by hour of the day for each of the messages. You can pull the hour out from the 'From ' line by finding the time and then splitting the string a second time using a colon.  
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
Once you have accumulated the counts for each hour, print out the counts, sorted by hour as shown below.

In [5]:
file_name = input("Enter file name: ")
if len(file_name) < 1:
    file_name = "mbox.txt"
try:
    fhand = open(file_name)
except File:
    print("File not found:", file_name)
    quit()

hour_counts = {}

for line in fhand:
    if line.startswith('From '):
        words = line.split()
        time = words[5].split(':')
        hour = time[0]
        hour_counts[hour] = hour_counts.get(hour, 0) + 1

sorted_hours = sorted(hour_counts.items())

for hour, count in sorted_hours:
    print(hour, count)

Enter file name:
09 1
11 5
14 1
15 2
16 1
18 1